
@import "./core/base";

body{
    background: #101020;
    color: #eee;
}
.menu{
    background: rgba(180,180,180,0.9);
    position: absolute;
    color: black;
    height: 80vh;
    width: 80vw;
    left: 10vw;
    top: calc(10vw - 48px) ;  
    button {
        position: absolute;
        bottom: calc(50vh - 48px);
        left: calc(50vw - 200px);
    }
    .score {
        margin-top: 10px;
        margin-left: 3em;
    }
}
.hidden {
    display: none;
}

.gameScreen{
    position: relative;
    height: 100%;
    width: 100%;

    overflow: visible;
}

#__app {
    padding: 24px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.letter{
    position: absolute;
}

.score{
    font-size: 36px;
    font-family: monospace;
    display: block;
    .score_value{
        display: inline;
        padding-left: 1em;
        color: bisque;
    }
}
.level{
    font-size: 36px;
    font-family: monospace;
    .level_value{
        display: inline;
        padding-left: 1em;
        color: peru;
    }
}


.letter{
    font-family: monospace;
    font-size: 24pt;
    text-transform: uppercase;
}


._hit_letter{
    font-size: 28pt;
    font-weight: bold;
    color: #048040;
}

._out_letter{
    font-weight: bold;
    color: #843010;
}